
div{
    height: 420px;
    width: 320px;
    border: 1px solid #b4b4b4;

}
.MassageBox{
    border: 1px solid #b4b4b4;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    border-top: 0px;
}
input{
    width: 280px;
    margin-left:5%;
}